/node_modules
/public/js
/public/css
/public/hot
/public/storage
/public/vendor
/public/mix-manifest.json
/public/optimized
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
_ide_helper*
tools/**/vendor/
.first_run_done
